.profile {
  width: 100%;
}

.profile.float-right {
  margin-left: 1.5rem;
}

.profile.float-left {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .profile {
    width: 22%;
  }
}

@media (max-width: 575px) {
  .profile {
    width: 70%;
    margin-top: 0.5rem;

    img {
      top: 0;
      margin-bottom: 0;
    }
  }
}

.about-introduction {
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
}

.social {
  text-align: center;

  .contact-icons {
    font-size: 1.5rem;

    a {
      margin: 0 10px;

      i::before {
        color: var(--global-text-color);
        transition: color 0.2s ease-in-out;
      }

      &:hover {
        text-decoration: none;

        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }

  .contact-note {
    font-size: 0.8rem;
  }
}
