footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;

  .container {
    padding-top: 9px;
    padding-bottom: 8px;
    color: var(--global-footer-text-color);
    text-align: center;
  }
}
