@use "variables" as v;

body {
  padding-top: 57px;
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3 {
    scroll-margin-top: 66px;
  }
}

.container {
  max-width: v.$max-content-width;
}

.profile img {
  position: relative;
  top: -5px;
  width: 100%;
  margin-bottom: -5px;
}
