@use "variables" as v;

.navbar {
  background-color: var(--global-bg-color);
  border-bottom: 1px solid var(--global-divider-color);
  box-shadow: none;
  opacity: 0.95;
}

.navbar.navbar-light {
  a:hover {
    text-decoration: none;
  }

  .navbar-brand,
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item.active > .nav-link {
    color: v.$black-color;
  }

  .navbar-nav .nav-item.active > .nav-link {
    background-color: inherit;
    font-weight: bolder;
  }
}
.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar,
    .bottom-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }
  }
}
