@use "variables" as v;

.publications {
  margin-top: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  ol.bibliography {
    margin-top: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 1rem;

      .title {
        font-weight: bolder;
      }

      .author {
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }

      .links {
        display: inline;
        margin-left: 0.35rem;

        a.btn {
          padding: 0.25rem 1rem;
          margin-left: 0;
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .publication-note {
        margin-top: -0.15rem;
        color: var(--global-text-color);
        font: inherit;

        .publication-note-marker {
          margin-right: 0.35rem;
          font-size: inherit;
        }
      }
    }
  }
}
