@use "variables" as v;
@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{v.$white-color};
  --global-text-color: #{v.$black-color};
  --global-text-color-light: #{v.$grey-color};
  --global-theme-color: #{v.$purple-color};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{v.$white-color};
  --global-footer-bg-color: #{v.$grey-color-dark};
  --global-footer-text-color: #{v.$grey-color-light};
  --global-footer-link-color: #{v.$white-color};
  --global-back-to-top-bg-color: rgba(
    #{color.channel(v.$black-color, "red", v.$space: rgb)},
    #{color.channel(v.$black-color, "green", v.$space: rgb)},
    #{color.channel(v.$black-color, "blue", v.$space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{v.$white-color};

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: v.$back-to-top-bottom;
    right: v.$back-to-top-right;
    height: v.$back-to-top-height;
    width: v.$back-to-top-width;
    z-index: v.$back-to-top-z-index;
  }
}
