p,
h1,
h2,
h3,
div,
li,
span,
strong,
em {
  color: var(--global-text-color);
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td,
  th {
    padding: 1px 1rem 1px 0;
    font-size: 1rem;
  }

  th {
    font-weight: bold;
  }
}

.news table.table {
  td,
  th {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

a,
table.table a {
  color: var(--global-theme-color);

  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }
}
