@use "sass:color";

$purple-color: #b509ac !default;
$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$white-color: #ffffff !default;
$black-color: #000000 !default;

$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-height: 40px;
$back-to-top-width: 40px;

$max-content-width: 930px !default;
